.ipad{
    width: 100vw;
    background: #e8b968;
    height: 750px;
    background-image: url('../img/ipad.png');
    background-size: 450px 680px;
    background-position: right bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        height: 750px;
        display: flex;
        
        .content{
            h2{
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                font-size: 55px;
                color: #fff;
                margin-bottom: 35px;
                margin-top: 70px;
            }

            p{
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 16px;
                color: #fcf6ef;
                margin-bottom: 15px; 
            }

            input{
                margin-top: 30px;
                height: 80px;
                width: 280px;
                text-align: center;
                background: transparent;
                border: 3px solid #fff;
                color: #fff;
                font-family: 'Lato', sans-serif;
                font-weight: 700;
                font-size: 18px;

            }
        }
    }
}

@media (max-width:886px){
   .ipad{
       background-size: 0;
       align-items: flex-start;
       height: 1000px;
   }

   .content{
       width: 100%;
   }
}